{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>WorldOfGlass</title>
	<link href="{% static 'img/icon.ico' %}" rel="shortcut icon" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="{% static 'css/swiper.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link rel="stylesheet" href="https://icono-49d6.kxcdn.com/icono.min.css">
</head>

<body>
	<header>
		<div class="nav-menu">
			<nav>
				<div class="menu-icon">
					<i class="icono-hamburger"></i>
				</div>
				<div class="logo">ФЛП "Моисеев"</div>
				<div class="menu">
					<ul>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Стекло</a></li>
						<li><a href="#">Зеркало</a></li>
						<li><a href="#">Портфолио</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
			</nav>
		</div>
		<div class="slider">
			<div class="slide slide1">
				<div class="caption">
					<h2>Стекло</h2>
					<p>В ФЛП "Моисеев" вы можете сделать заказ на изготовление стеклянной продукции по индивидуальным размерам. Мы производим скинали, стеклянные двери, витрины, полки, столы, душевые перегородки.</p>
				</div>
			</div>
			<div class="slide slide2">
				<div class="caption">
					<h2>Зеркало</h2>
					<p>В ФЛП "Моисеев" вы имеете возможность заказать зеркало по размерам в различных техниках художественного декорирования и вариациях багетного обрамления, а также зеркальное панно из фацетных элементов.</p>
				</div>
			</div>
			<div class="slide slide3">
				<div class="caption">
					<h2>Скинали</h2>
					<p>В ФЛП "Моисеев" вы имеете возможность заказать кухонный фартук. Скинали - защитные декоративные панели из стекла, которые устанавливаются на участке стены между подвесными шкафами и рабочей поверхностью.</p>
				</div>
			</div>
			<div class="slide slide1">
				<div class="caption">
					<h2>Стекло</h2>
					<p>В ФЛП "Моисеев" вы можете сделать заказ на изготовление стеклянной продукции по индивидуальным размерам. Мы производим скинали, стеклянные двери, витрины, полки, столы, душевые перегородки.</p>
				</div>
			</div>
		</div>
	</header>
	<section id="content">
		<div class="info-g">
			<div class="about">
				<p>ФЛП "Моисеев" уже более 15 лет занимает лидирующие позиции на рынке. За это время мы накопили огромный опыт по созданию и производству высококачественной и конкурентоспособной продукции.</p>
				<p>Вы можете сделать заказ на изготовление стеклянной продукции по индивидуальным размерам. Мы производим скинали, стеклянные двери, витрины, душевые перегородки, полки, столы.</p>
				<p>Вы можете сделать заказ на изготовление зеркала по размерам в различных техниках художественного декорирования и вариациях багетного обрамления. Мы производим зеркальное панно из фацетных элементов.</p>
				<p>Вы можете сделать заказ на кухонный фартук(скинали). Скинали могут быть прозрачными, однотонными, с рисунком и зеркальные. Украсте вашу кухню, следуя инновационному дизайну.</p>
				<p>Мы заботимся о своих клиентах и предлагаем гибкую систему скидок и индивидуальный подход к каждому клиенту!</p>
			</div>
		</div>
			<div class="wrapper">
				<div class="col col1">
					<img src="../static/img/img-col1.jpg" alt="" class="col">
					<p class="col-head">Стекла и зеркала</p>
					<hr class="col-hr">
					<p class="col-text">ФЛП "Моисеев" предлагает широкий ассортимент стекл и зеркал на любой вкус. Стекло и зеркала - универсалные материалы для обустройства интерьеров общественных и жилых помещений.</p>
					<ul>
						<li>Матовое стекло</li>
						<li>Цветные стекла и зеркала</li>
						<li>Стекло с рисунком</li>
						<li>Узорчатое стекло</li>
						<li>Закаленное стекло</li>
					</ul>
				</div>
				<div class="col col2">
					<img src="../static/img/img-col2.jpg" alt="" class="col">
					<p class="col-head">Обработка стекла и зеркал</p>
					<hr class="col-hr">
					<p class="col-text">ФЛП "Моисеев" предлагает различные методы обработки стекла и зеркал для придания изделию гармоничности и оригинальности. Нами выполняются следующие работы по обработке стекла и зеркал:</p>
					<ul>
						<li>Резка стекла и зеркал</li>
						<li>Сверление отверстий</li>
						<li>Фацет</li>
						<li>Гнутое стекло</li>
						<li>Закалка стекла</li>
					</ul>
				</div>
				<div class="col col3">
					<img src="../static/img/img-col3.png" alt="" class="col">
					<p class="col-head">Декоративная обработка</p>
					<hr class="col-hr">
					<p class="col-text">ФЛП "Моисеев" предлагает множество способов декоративной обработки стекла и зеркал. Изделия с декоративной обработкой используются для неповторимых дизайнов интерьеров жилых помещений.</p>
					<ul>
						<li>Фотопечать</li>
						<li>Пескоструйная обработка</li>
						<li>Поклейка пленки</li>
						<li>Обрамление в багет</li>
						<li>Декоративные элементы</li>
					</ul>
				</div>
			</div>
		<section id="glass">
			<div class="info-g">
				<h1>Изделия из стекла</h1>
				<div class="about">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officia voluptatum, quos maiores, voluptas rem natus labore iste praesentium quas accusamus, voluptates, necessitatibus voluptatibus eveniet error adipisci molestiae vel.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium quae aspernatur blanditiis corporis provident, architecto dolorum libero aliquid animi impedit illo aperiam, error nulla delectus sit repellendus adipisci voluptates?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officia voluptatum, quos maiores, voluptas rem natus labore iste praesentium quas accusamus, voluptates, necessitatibus voluptatibus eveniet error adipisci molestiae vel.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium quae aspernatur blanditiis corporis provident, architecto dolorum libero aliquid animi impedit illo aperiam, error nulla delectus sit repellendus adipisci voluptates?</p>
				</div>
			</div>
			<div class="img-list-section">
				<ul class="img-grid">
					<li>
						<div class="img-box box-img-1">
							<div class="box-text">Полки</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-2">
							<div class="box-text">Двери</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-3">
							<div class="box-text">Витрины</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-4">
							<div class="box-text">Скинали</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-5">
							<div class="box-text">Перегородки</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-6">
							<div class="box-text">Столы</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section id="mirror">
			<div class="info-g">
				<h1>Изделия из зеркал</h1>
				<div class="about">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officia voluptatum, quos maiores, voluptas rem natus labore iste praesentium quas accusamus, voluptates, necessitatibus voluptatibus eveniet error adipisci molestiae vel.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium quae aspernatur blanditiis corporis provident, architecto dolorum libero aliquid animi impedit illo aperiam, error nulla delectus sit repellendus adipisci voluptates?</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officia voluptatum, quos maiores, voluptas rem natus labore iste praesentium quas accusamus, voluptates, necessitatibus voluptatibus eveniet error adipisci molestiae vel.
					Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium quae aspernatur blanditiis corporis provident, architecto dolorum libero aliquid animi impedit illo aperiam, error nulla delectus sit repellendus adipisci voluptates?</p>
				</div>
			</div>
			<div class="img-list-section">
				<ul class="img-grid">
					<li>
						<div class="img-box box-img-7">
							<div class="box-text">Багет</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-8">
							<div class="box-text">Панно</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-9">
							<div class="box-text">Двери</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-10">
							<div class="box-text">Декор</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-11">
							<div class="box-text">Фацет</div>
						</div>
					</li>
					<li>
						<div class="img-box box-img-12">
							<div class="box-text">Скинали</div>
						</div>
					</li>
				</ul>
			</div>
		</section>
		<section id="work">
			<h1>Наши работы</h1>
			<div class="swiper-container">
			    <div class="swiper-wrapper">
			        <div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/1.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Скинали</h3>
			      		</div>
			      	</div>
			       	<div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/5.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Стеклянный стол</h3>
			      		</div>
			      	</div>
			       	<div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/3.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Зеркало в ванную</h3>
			      		</div>
			      	</div>
			       	<div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/4.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Зеркало в ванную</h3>
			      		</div>
			      	</div>
			       	<div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/2.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Зеркальные двери</h3>
			      		</div>
			      	</div>
			       	<div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/6.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Стеклянные полки</h3>
			      		</div>
			      	</div>
			       	<div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/8.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Стеклянные двери</h3>
			      		</div>
			      	</div>
			       	<div class="swiper-slide">
			      		<div class="imgBx">
			      			<img src="../static/img/7.jpg" alt="">
			      		</div>
			      		<div class="details">
			      			<h3>Скинали</h3>
			      		</div>
      				</div>
    			</div>
   				<div class="swiper-pagination"></div>
  			</div>
        </section>
		<section class="info-w">
			<h1>Контактная информация</h1>
			<div class="about">
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officia voluptatum, quos maiores, voluptas rem natus labore iste praesentium quas accusamus, voluptates, necessitatibus voluptatibus eveniet error adipisci molestiae vel.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium quae aspernatur blanditiis corporis provident, architecto dolorum libero aliquid animi impedit illo aperiam, error nulla delectus sit repellendus adipisci voluptates?</p>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi officia voluptatum, quos maiores, voluptas rem natus labore iste praesentium quas accusamus, voluptates, necessitatibus voluptatibus eveniet error adipisci molestiae vel.
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam laudantium quae aspernatur blanditiis corporis provident, architecto dolorum libero aliquid animi impedit illo aperiam, error nulla delectus sit repellendus adipisci voluptates?</p>
			</div>
		</section>
		<section class="contact-info">
			<div class="map-section">
				<div class="google-maps">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1862.1021459077758!2d37.754285547017275!3d47.961256179805055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40e097295056e639%3A0xa2d1bc9cf1f29d2c!2z0YPQuy4g0JrRg9C_0YDQuNC90LAsIDEyNywg0JTQvtC90LXRhtC6LCDQlNC-0L3QtdGG0LrQsNGPINC-0LHQu9Cw0YHRgtGMLCA4MzAwMA!5e0!3m2!1sru!2sua!4v1538070955958" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
				</div>
			</div>
			<div class="contact-section">
				<div class="contact-form">
					<h3>Заказать звонок</h3>
                    <div>
                        <form action="" method="post">{% csrf_token %}
                            <div class="input-fields">
                                <input id="" class="input" type="text" name="name"  placeholder="ФИО" value="">
                                <input id="" class="input" type="text" name="email"  placeholder="Email" value="">
                                <input id="" class="input" type="text" name="phone"  placeholder="Phone" maxlength="12" value="">
                            </div>
                            <div class="order">
                                <p>Интересующий товар</p>
                                {{ mail_form.product}}
                            </div>
                            <div class="msg">
						        <textarea id=""  name="message"  placeholder="Сообщение"></textarea>
                                <div class="btn">
							        <button type="submit">Отправить</button>
						        </div>
					        </div>
                        </form>
                    </div>
				</div>
			</div>
		</section>
		<section class="footer">
			<div class="copyright">
				<p>ФЛП"Моисеев"</p>
				<p>2018</p>
			</div>
			<div class="foot-contact">
				<p>Адрес: г. Донецк, ул. Куприна 127а</p>
				<p>Тел. +380711112223</p>
				<p>Email: glass@gmail.com</p>
			</div>
		</section>
    </section>

	<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
	<script type="text/javascript" src="{% static 'js/swiper.min.js' %}"></script>
	<script>
		var swiper = new Swiper('.swiper-container', {
		    effect: 'coverflow',
		    grabCursor: true,
		    centeredSlides: true,
		    slidesPerView: 'auto',
		    coverflowEffect: {
	        	rotate: 60,
	        	stretch: 0,
	        	depth: 100,
	        	modifier: 1,
	        	slideShadows : true,
	      	},
	      	pagination: {
	        	el: '.swiper-pagination',
	      	},
	    });
	</script>
	<script type="text/javascript">
	      // Menu-toggle button
	    $(document).ready(function() {
	        $(".menu-icon").on("click", function() {
	            $("nav ul").toggleClass("showing");
	        });
	    });
	      // Scrolling Effect
	    $(window).on("scroll", function() {
	        if($(window).scrollTop()) {
	            $('nav').addClass('black');
	        }
	        else {
	            $('nav').removeClass('black');
	        }
	    })
	</script>
</body>
